@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.Container {
  max-width: 1200px; /* Adjust max-width based on your design */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 20px; /* Add padding to the sides if needed */
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px; /* Adjust for larger screens */
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  max-width: "100%";
  margin: 0 auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Hide the background on smaller devices */
@media (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  .tech-stuck-bg {
    background-image: none;
  }
}

/* Hide the background on larger devices */
@media (min-width: 768px) {
  /* Adjust the breakpoint as needed */
  .div-background {
    background-image: none;
  }
}

.getinTouchs-bg {
  background-image: url("../public/tech-bg.png"); /* Replace with your image path */
  background-size: auto;
  background-position: bottom;
}
.service-bg {
  background-image: url("../public/who-we-bg.png"); /* Replace with your image path */
  background-size: auto;
  background-position: top;
}
.blog-bg {
  background-image: url("../public/who-we-bg.png"); /* Replace with your image path */
  background-size: cover;
  background-position: top;
}

.cardContainer {
  /* existing styles */
  background-image: linear-gradient(to right, #ff5400 50%, transparent 10%);
  background-size: 201% 100%;
  background-position: right bottom;
  transition: background-position 0.2s ease-in;
}

.cardContainer:hover {
  background-position: left bottom;
  color: white;
}
.text-stroke {
  -webkit-text-stroke: 1px #b98be75e; /* Adjust the stroke width and color */
  color: transparent;
}

.loader {
  position: relative;
  width: 64px;
  height: 64px;
  scale: 2;
  rotate: 45deg;
}

.loader svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loader svg rect {
  fill: none;
  width: 64px;
  height: 64px;
  stroke-width: 15px;
  stroke: #21f38a;
  stroke-dasharray: 64;
  stroke-dashoffset: 32;
  animation: animate 3s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

@keyframes animate {
  0% {
    stroke-dashoffset: 32;
    stroke: #fe0001;
  }

  25% {
    stroke-dashoffset: 95;
    stroke: #fe0001;
  }
  50% {
    stroke-dashoffset: 160;
    stroke: #21f38a;
  }

  75% {
    stroke-dashoffset: 224;
    stroke: #fe0001;
  }
  100% {
    stroke-dashoffset: 288;
  }
}

.product_card:hover {
  transform: translateY(-5px);
}

.product_card {
  background: #fff;
  box-shadow: 0 40px 70px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  text-align: center;
  padding: 65px 40px 60px;
  transform: translateY(0);
  transition: transform 0.25s ease;
}
